@import "bootstrap/functions";
@import "bootstrap/variables";

$header_height: 100px;
$copyright_height: 50px;

.menu {
    background-color: $purple;
    color: white;
}

.top {
    background-color: $purple;
    color: white;
    
    &__panel {
        background-color: white;
        color: $purple;
        height: $header_height;    
    }
}

.table__header__header {
    letter-spacing: 0.2rem;
    color: $purple;
}

.copyright {
    height: $copyright_height;
    flex-direction: column;
    align-items: center;
}

.back {
    color: $purple;
}